<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <main class="about content text-center">
      <h2>About Us</h2>
      <p>
        This is a basic blog developed in order to practice
        <a
          href="https://nodejs.org/en"
          target="_blank"
          rel="noopener noreferrer"
          >Node.js</a
        >,
        <a
          href="https://expressjs.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Express</a
        >,
        <a
          href="https://www.mongodb.com/atlas/database"
          target="_blank"
          rel="noopener noreferrer"
          >MongoDB Atlas</a
        >,
        <a
          href="https://mongoosejs.com/docs/"
          target="_blank"
          rel="noopener noreferrer"
          >Mongoose</a
        >
        and the
        <a href="https://ejs.co/" target="_blank" rel="noopener noreferrer"
          >EJS view engine</a
        >.
      </p>
      <p>
        This blog implements basic CRUD functionality and follows the MVC design
        pattern. It was created for learning purposes only. As a result, the
        styling was kept minimal with no images or animations and just a single
        font.
      </p>
      <p>Thanks for visiting!</p>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
